@import 'sass/reset';
@import 'sass/helpers';

$black: #000000;
$white: #FFFFFF;

@import 'sass/base';

body {
  background: black;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

main canvas {
  // background: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

#clickToStart {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
}
